{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{%block header%}<h1>Welcome, {{ username }}!</h1>{%endblock%}

{% block content %}
<p>Today is: <storng>{{ current_date }}</strong></p>
<br>
<p>Here you can manage your employees, 
<nav>
    <div class="button-container">
        <a href="/employees"><button class="dashboard-button" type="submit">Manage Current Employees</button></a>
        <a href="/employees/add"><button class="dashboard-button" type="submit">Add New Employee</button></a>
        <a href="/logout"><button class="dashboard-button" type="submit">Logout</button></a>
    </div>
</nav>
{% endblock %}