{% extends "base.html" %}

{%block header%}<h1>Login</h1>{%endblock%}
{% block content %}
{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form action ="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <button type="submit">Login</button>
</form>
<a href="/register">Don't have an account? Register here</a>
<br>
<a href="/">Home</a>
{% endblock %}
