{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block header %}<h1>Create an account!</h1>{% endblock %}

{% block content %}
<div class="reg-container">

    <!-- Display error message if it exists -->
    {% if error %}
        <span class="error"><p style="color:red;">{{ error }}</p></span>
    {% endif %}

    <form action="/register" method="POST">
        <div class="name-container">
            <div class="input-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="input-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
        </div>
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
